<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {{activeCartola}}" id="v-pills-home-tab" data-toggle="pill" href="#" onclick="cartola()" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Cartola</a>
            <a class="nav-link {{activeTrx}}" id="v-pills-profile-tab" data-toggle="pill" href="#" onclick="newTransfer()" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Nueva Tranferencia</a>
            <a class="nav-link {{activePerfil}}" id="v-pills-messages-tab" data-toggle="pill" href="#" onclick= "update()" role="tab"
                aria-controls="v-pills-messages" aria-selected="false">Perfil</a>
            <p>
            <a href="#" onclick="deleteUser()" class="text-danger">Eliminar cuenta</a>
            </p>
        </div>
    </div>    
</nav>


<script>
    const token = "{{token}}"
    const cartola = () => window.location = `/users/dashboard?token=${token}`
    const newTransfer = () => window.location = `/users/dashboard/transferencia?token=${token}`
    const update = () => window.location = `/users/dashboard/perfil?token=${token}`
    
    const deleteUser = async () => {
        const id = "{{id_del}}"
        try {
            await axios.delete(`/usuario/${id}`)

            alert("Usuario eliminado de la base de datos")
            window.location = `/`
        } catch (e) {
            const { response } = e
            const { data: message } = response
            alert(message)
        }
    }
</script>